<div class="col-md-7 col-lg-9">
    <div class="title"><span>Explore Store</span></div>
    <div class="row compact">
        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="images/banners/home/explore_store/tile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mb-0">TILE</h5>
                </div>
                <div class="list-group list-group-flush list-group-collapse list-group-sm" id="list-group-men"
                     data-children=".sub-men">
                    <div class="list-group-collapse sub-men">
                        <a class="list-group-item list-group-item-action" href="#sub-men1" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-men1">Tile Type</a>
                        <div class="collapse" id="sub-men1" data-parent="#list-group-men">
                            <div class="list-group">
                                <a href="shop.html" class="list-group-item list-group-item-action">Floor and Wall
                                    Tiles</a>
                                <a href="shop.html" class="list-group-item list-group-item-action">Mosaic</a>
                                <a href="shop.html" class="list-group-item list-group-item-action">Subway Tiles</a>
                                <a href="shop.html" class="list-group-item list-group-item-action">Decorative</a>
                                <a href="shop.html" class="list-group-item list-group-item-action">More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-collapse sub-men">
                        <a class="list-group-item list-group-item-action" href="#sub-men2" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-men2">Material</a>
                        <div class="collapse" id="sub-men2" data-parent="#list-group-men">
                            <div class="list-group">
                                <a th:href="@{/tile/ceramic}" class="list-group-item list-group-item-action">Ceramic</a>
                                <a th:href="@{/tile/porcelain}"
                                   class="list-group-item list-group-item-action">Porcelain</a>
                                <a th:href="@{/tile/glass}" class="list-group-item list-group-item-action">Glass</a>
                                <a th:href="@{/tile/stone}" class="list-group-item list-group-item-action">Natural
                                    Stone</a>
                                <a th:href="@{/tile}" class="list-group-item list-group-item-action">More &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <!--TILE LOOK-->
                    <div class="list-group-collapse sub-men">
                        <a class="list-group-item list-group-item-action" href="#sub-men3" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-men2">Look</a>
                        <div class="collapse" id="sub-men3" data-parent="#list-group-men">
                            <div class="list-group">
                                <a th:href="@{/tile/plain}" class="list-group-item list-group-item-action">Plain</a>
                                <a th:href="@{/tile/concrete}"
                                   class="list-group-item list-group-item-action">Concrete</a>
                                <a th:href="@{/tile/wood}" class="list-group-item list-group-item-action">Wood</a>
                                <a th:href="@{/tile/marble}" class="list-group-item list-group-item-action">Marble</a>
                                <a th:href="@{/tile/look}" class="list-group-item list-group-item-action">More
                                    &raquo;</a>
                            </div>
                        </div>
                    </div>

                    <!--TILE SHAPE-->
                    <div class="list-group-collapse sub-men">
                        <a class="list-group-item list-group-item-action" href="#sub-men4" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-men2">Shape</a>
                        <div class="collapse" id="sub-men4" data-parent="#list-group-men">
                            <div class="list-group">
                                <a th:href="@{/tile/square}" class="list-group-item list-group-item-action">Square</a>
                                <a th:href="@{/tile/rectangular}" class="list-group-item list-group-item-action">Rectangular</a>
                                <a th:href="@{/tile/round}" class="list-group-item list-group-item-action">Round</a>
                                <a th:href="@{/tile/basketveawe}" class="list-group-item list-group-item-action">Basketveawe</a>
                                <a th:href="@{/tile/herringbone}" class="list-group-item list-group-item-action">Herringbone</a>
                                <a th:href="@{/tile/arabesque}"
                                   class="list-group-item list-group-item-action">Arabesque</a>
                                <a th:href="@{/tile/look}" class="list-group-item list-group-item-action">More
                                    &raquo;</a>
                            </div>
                        </div>
                    </div>

                    <a th:href="@{/brands/tile}" class="list-group-item list-group-item-action">Tile Brands</a>
                </div>
                <div class="card-body text-center p-1">
                    <a th:href="@{/tile}" class="btn btn-block btn-theme btn-sm">SHOP ALL</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-3">
            <div class="card">
                <img class="card-img-top" src="images/banners/home/explore_store/cabinets.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mb-0">CABINETS</h5>
                </div>
                <div class="list-group list-group-flush list-group-collapse list-group-sm" id="list-group-cabinets"
                     data-children=".sub-cabinets">
                    <div class="list-group-collapse sub-cabinets">
                        <a class="list-group-item list-group-item-action" href="#sub-cabinets1" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-cabinets1">By Style</a>
                        <div class="collapse" id="sub-cabinets1" data-parent="#list-group-cabinets">
                            <div class="list-group">
                                <a th:href="@{/cabinets/traditional}" class="list-group-item list-group-item-action">Traditional</a>
                                <a th:href="@{/cabinets/transitional}" class="list-group-item list-group-item-action">Transitional</a>
                                <a th:href="@{/cabinets/modern}"
                                   class="list-group-item list-group-item-action">Modern</a>
                                <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">All
                                    Cabinets</a>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-collapse sub-cabinets">
                        <a class="list-group-item list-group-item-action" href="#sub-cabinets2" data-toggle="collapse"
                           aria-expanded="false" aria-controls="sub-cabinets2">By Price</a>
                        <div class="collapse" id="sub-cabinets2" data-parent="#list-group-cabinets">
                            <div class="list-group">
                                <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">$</a>
                                <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">$$</a>
                                <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">$$$</a>
                                <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">More
                                    &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <a th:href="@{/cabinets}" class="list-group-item list-group-item-action">Brands</a>

                </div>
                <div class="card-body text-center p-1">
                    <a th:href="@{/cabinets}" class="btn btn-block btn-theme btn-sm">SHOP ALL</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4 mb-3 d-none d-lg-block">
            <div class="card">
                <img class="card-img-top" src="images/banners/home/explore_store/countertops.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title mb-0">COUNTERTOPS</h5>
                </div>
                <div class="list-group list-group-flush list-group-sm">
                    <a th:href="@{/countertops/quartz}" class="list-group-item list-group-item-action">Quartz</a>
                    <a th:href="@{/countertops/natural-stone}" class="list-group-item list-group-item-action">Natural
                        Stone</a>
                    <a th:href="@{/countertops/butcher-block}" class="list-group-item list-group-item-action">Butcher
                        Block </a>
                </div>
                <div class="card-body text-center p-1">
                    <a th:href="@{/countertops}" class="btn btn-block btn-theme btn-sm">SHOP ALL</a>
                </div>
            </div>
        </div>
    </div>
</div>