<div class="row mb-5 compact" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="col-12">
        <div class="title text-center"><span>Top Categories</span></div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 mb-2 mb-md-0">
        <div class="card hover-style2 border-white text-white">
            <img class="card-img" src="images/banners/home/top_categories/tile_selection.jpg" alt="Tile Selection">
            <a th:href="@{/tile}">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <h3 class="card-title text-white font-weight-normal text-center become-h6">Tile</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-2 mb-md-0">
        <div class="card hover-style2 border-white text-white">
            <img class="card-img" src="images/banners/home/top_categories/modern_cabinets.jpg" alt="Modern Cabinets">
            <a th:href="@{/cabinets}">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <h3 class="card-title text-white font-weight-normal text-center become-h6">Modern Cabinets</h3>
                </div>
            </a>
        </div>
    </div>


    <div class="col-6 col-md-4 col-lg-3 mb-2 mb-md-0 d-block d-md-none d-lg-block">
        <div class="card hover-style2 border-white text-white">
            <img class="card-img" src="images/banners/home/top_categories/countertops.jpg" alt="Countertops">
            <a th:href="@{/sale}">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <h3 class="card-title text-white font-weight-normal text-center become-h6">Countertops</h3>
                </div>
            </a>
        </div>
    </div>

    <div class="col-6 col-md-4 col-lg-3 mb-2 mb-md-0 d-block d-md-none d-lg-block">
        <div class="card hover-style2 border-white text-white">
            <img class="card-img" src="images/banners/home/top_categories/sale.jpg" alt="Products on Sale">
            <a th:href="@{/sale}">
                <div class="card-img-overlay d-flex align-items-center justify-content-center">
                    <h3 class="card-title text-white font-weight-normal text-center become-h6">Sale</h3>
                </div>
            </a>
        </div>
    </div>
</div>